.courses {
  background-color: #9246fc;
  min-height: 80vh;
  height: auto;
  padding: 1rem;
  > div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    > input {
      height: 50px;
      padding: 1rem;
      font-size: 1.2rem;
      text-align: center;
      color: black;
      width: 40rem;
      border: none;
      border-radius: 50px;
      outline: none;
    }

    > svg {
      position: absolute;
      right: 10px;
      font-size: 2rem;
      fill: black;
      cursor: pointer;
      &:hover {
        fill: rgb(248, 248, 32);
      }
    }
  }
}
.courseLists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
  flex-wrap: wrap;
}



@media screen and (max-width: 678px) {
    .courses{
        >div{
            >input{
                width: 14rem;
            }
        }
    }
}
